@page "/"
@using BouncingBalls.Lab12TODO

<PageTitle>Index</PageTitle>

@if(timesBBChanged < 3)
{
	<div>Increasing box size in: @(boundaryBoxGrowth.TimeLeft / 1000) sec</div>
}
else
{
	<div>Box is at max size.</div>
}

<div id="boundary" style="left: @(renderer.BoundingBox.X); top: @(renderer.BoundingBox.Y)px; width: @(renderer.BoundingBox.Width)px; height: @(renderer.BoundingBox.Height)px;">
	@foreach(Ball ball in balls)
	{
		<div class="ball" style="left: @(ball.Position.X)px; top: @(ball.Position.Y)px; width: @(ball.Size)px; height: @(ball.Size)px; background-color: @(ball.Color.Name);"></div>
	}
</div>